
version: '3.8'

services:

  flyway:
    restart: "always"
    environment:
      BUILD_TYPE: "PROD" 

  db:
    restart: "always"
    environment:
      BUILD_TYPE: "PROD" 

  rabbit:
    restart: "always"
    environment:
      BUILD_TYPE: "PROD" 

    ports:
      - "9998:15672"

  adminer:
    restart: "always"
    environment:
      BUILD_TYPE: "PROD" 

  back:
    restart: "always"

    environment:
      BUILD_TYPE: "PROD" 

  front:
    restart: "no"
    environment:
      BUILD_TYPE: "PROD" 

    build: 
      dockerfile: Dockerfile-prod

#     environment:
#       BUILD_TYPE: "Production" 
  api:
    restart: "always"
    environment:
      BUILD_TYPE: "PROD" 

  nginx:
    build: 
      context: .
      dockerfile: ./_build/nginx/Dockerfile-prod
      args:
        - VITE_RELEASE_VERSION=$VITE_RELEASE_VERSION

    restart: "always"
    environment:
      BUILD_TYPE: "PROD" 

    ports:
      - "8081:80"

