@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* height: 100vh; */
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-family: 'Roboto';
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mytest {
  font-family: 'Roboto';
  @apply font-medium
}

.flip-horizontal {
  transform: scale(-1, 1)
}

.flip-vertical {
  transform: scale(1, -1)
}

a {
  @apply text-indigo-500 hover:text-indigo-400;
  @apply text-indigo-900 hover:text-indigo-800;
}

p,
.my-text {
  @apply text-blue-gray-400 dark:text-gray-200;
}

textarea {
  @apply dark:text-white;
}

input[type='checkbox'] {
  @apply border-black;
}

.my-content {
  @apply flex flex-col justify-center mx-1 md:mx-8 mt-2 pb-6
}


.my-cards>div {
  @apply bg-transparent;
}


.big-card {
  @apply mb-0 dark:bg-gray-600 dark:shadow-gray-400 overflow-hidden rounded-b-xl;
  @apply bg-white/80 dark:bg-gray-700/80;
}

.super-big-card {
  @apply h-full w-full;
}

.super-big-header {
  @apply rounded-none overflow-visible bg-transparent;
}

.super-big-header-content {
  @apply mb-8 flex items-center justify-between gap-8;
}

.super-title {
  @apply text-xl text-black font-semibold;
}

.super-description {
  @apply mt-1 font-normal;
}

.super-settings-bar {
  @apply flex flex-col items-center justify-between gap-4 md:flex-row mb-2;
}

.super-settings-bar>div {
  @apply flex flex-row w-full md:w-72 gap-2;
}

.super-big-body {
  @apply !p-1 md: !p-6 grow;
}

.super-big-footer {
  @apply !px-1 md: !p-4;
  @apply flex items-center justify-between border-t rounded-b-xl;
  @apply border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-600;
  @apply bg-white/40;
  @apply bg-transparent;
}


.notif-question {
  @apply border-pink-300 bg-pink-50 text-pink-300
}

.notif-info {
  @apply border-blue-600 bg-blue-100 text-blue-600
}

.notif-success {
  @apply border-green-600 bg-green-100 text-green-600
}

.notif-warning {
  @apply border-amber-800 bg-amber-100 text-amber-800
}

.notif-error {
  @apply border-red-600 bg-red-100 text-red-600
}


.selected-option {
  @apply bg-blue-900
}

.hidden-option {
  @apply bg-blue-200
}

.available-option {
  @apply bg-blue-600
}