requests
django-environ
schedule

psycopg2
watchdog
beautifulsoup4

pika
click

pypdf2

oauthlib
plotly
pandas
cryptography
threaded

rich
ipython

websockets
websocket-client
rel

py-cord
astral

PyGithub==1.56

gql[all]
gqlactioncable

numpy
scipy
matplotlib
pycairo
igraph
gravis
networkx